#Ignore vim swapfiles
*.swp

#ignore build directory junk from CMake
build/AlgorithmExercises
build/CMakeCache.txt
build/CMakeFiles/
build/DataStructureExercises
build/Makefile
build/cmake_install.cmake
build/src/

